body {
    font-family: 'Poppins', sans-serif;
}
.bg-black-gold {
    background-color: #1a1a1a; /* Dark background */
    color: #d4af37; /* Gold text */
}
.text-gold{
    color: #d4af37;
}
.bg-gold{
    background-color: #d4af37;
}
.border-gold{
    border-color: #d4af37;
}
.hover-bg-gold:hover{
    background-color: #c29d30;
}
.hover-text-gold:hover{
    color: #c29d30;
}
.bg-black-light{
    background-color: #282828;
}
.text-black-light{
    color:#282828;
}
.bg-black-lighter{
    background-color: #363636;
}